{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-4">Alle deutschen Feiertage abrufbar als API</h1>
                <hr>
                <img class="img-fluid rounded" src="{{ asset('assets/img/banner.jpg') }}" alt="DFA">
                <hr>
                <p class="lead">
                    Auf der Suche nach einer verlässlichen API bin ich auf nicht viel gestoßen und habe mir deswegen selbst etwas gebastelt.
                </p>
                <p>
                    Entstanden ist daraus ein kleines Open-Source-Projekt und ein passender Blog-Eintrag:
                </p>
                <blockquote class="blockquote">
                    <p class="mb-0">Projekt auf GitHub</p>
                    <footer class="blockquote-footer"><a href="https://github.com/primus852/deutsche-feiertage-api">https://github.com/primus852/deutsche-feiertage-api/</a>
                    </footer>
                </blockquote>

                <blockquote class="blockquote">
                    <p class="mb-0">Blog via codeprimus.de</p>
                    <footer class="blockquote-footer"><a href="https://www.codeprimus.de/a-rest-api-w-symfony4-from-scratch/">https://www.codeprimus.de/a-rest-api-w-symfony4-from-scratch/</a>
                    </footer>
                </blockquote>

                <p>
                    Die Nutzung ist kostenfrei und sehr einfach zu verwenden. Aktuell gibt es kein RateLimit, mal schauen was der Server hier aushält.
                </p>

                <p>Fragen gerne per Mail an tow.berlin@gmail.com </p>

                <hr>

                <h3>Dokumentation</h3>
                Diese kleine Doku soll euch bei der Nutzung des Service helfen
                <br />
                <hr />
                <h4>Allgemein</h4>
                <ul>
                    <li>Request Url: <code>https://deutsche-feiertage-api.de/api/v1/[DATUM/JAHR]</code></li>
                    <li>Der Service ist via POST-Requests abrufbar</li>
                    <li>Der Header eines Requests muss <code>X-DFA-Token: dfa</code> enthalten</li>
                    <li>
                        Beispielaufruf via cURL:<br/>
                        <code>curl -H "X-DFA-Token: dfa" -X POST https://deutsche-feiertage-api.de/api/v1/2018-10-03</code><br/>
                        Ergebnis
                        <pre>
                            <code>
{
  "result": "success",
  "message": "2018-10-03 is a general holiday",
  "holiday": {
    "date": "2018-10-03",
    "name": "Tag der Deutschen Einheit",
    "regions": {
      "bw": true,
      "bay": true,
      "be": true,
      "bb": true,
      "hb": true,
      "hh": true,
      "he": true,
      "mv": true,
      "ni": true,
      "nw": true,
      "rp": true,
      "sl": true,
      "sn": true,
      "st": true,
      "sh": true,
      "th": true
    },
    "all_states": true
  }
}
                            </code>
                        </pre>
                    </li>
                </ul>
                <hr />
                <h4>Parameter</h4>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Default</th>
                        <th scope="col">Erlaubt</th>
                        <th scope="col">Beschreibung</th>
                        <th scope="col">Beispiel</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">DATUM/JAHR</th>
                        <td></td>
                        <td>Ganzes Jahr (z.B. 2018) oder Datum im Format Y-m-d (z.B. 2018-10-03)</td>
                        <td>Wird mit der URL übergeben</td>
                        <td>
                            <code>/api/v1/2018</code><br />
                            <code>/api/v1/2018-10-31</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">bundesweit</th>
                        <td>false</td>
                        <td>'true', '1', 'false', '0'</td>
                        <td>Zeigt nur Feiertage an, die Bundesweit gelten</td>
                        <td>
                            <code>/api/v1/2018-10-03?bundesweit=true</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">bundeslaender</th>
                        <td>null</td>
                        <td>'bw',
                            'bay',
                            'be',
                            'bb',
                            'hb',
                            'hh',
                            'he',
                            'mv',
                            'ni',
                            'nw',
                            'rp',
                            'sl',
                            'sn',
                            'st',
                            'sh',
                            'th',
                        </td>
                        <td>Schränkt die Anzeige der Bundesländer ein</td>
                        <td>
                            <code>/api/v1/2018-10-31?bundeslaender=be,bb</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">short</th>
                        <td>false</td>
                        <td>'true', '1', 'false', '0'</td>
                        <td>Gibt nur 'true' oder 'false' für einen spezifizierten Tag an. Kann mit 'bundeslaender' (max. 1) kombiniert werden</td>
                        <td>
                            <code>/api/v1/2018-10-31?short=true&bundeslaender=bb</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">info</th>
                        <td>false</td>
                        <td>'true', '1', 'false', '0'</td>
                        <td>Liefert noch zusätzliche Infos</td>
                        <td>
                            <code>/api/v1/2018-10-31?info=true</code><br />
                            <code>/api/v1/2018?info=true</code>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br />
                <hr />
                <h4>Self-Hosted</h4>
                Gerne könnt ihr das Projekt auch auf euren eigenen Servern hosten<br />
                Dazu einfach:
                <ol>
                    <li>Projekt clonen: <code>git clone https://github.com/primus852/deutsche-feiertage-api</code></li>
                    <li>In den Projektordner wechseln und Abhängigkeiten installieren: <code>cd deutsche-feiertage-api && composer install</code></li>
                    <li>Fertig</li>
                </ol>

                <!-- Comments Form
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>


                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>


                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
{% endblock %}
